.signup{
    background: url("https://images.pexels.com/photos/3608967/pexels-photo-3608967.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* background: url("https://images.unsplash.com/photo-1570125909232-eb263c188f7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8YnVzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
  
    background-size: 99vw;
    background-size: cover;
    /* background-position-x:left; */
    /* background-size: 100vh; */
    /* background-blend-mode: screen; */
    background-repeat: no-repeat;
    /* background-position-y:1rem; */
    /* height: 100vh; */
    position: relative;
    width: 100vw; 
    padding: 15rem;
}   
.card{
    margin-top: -3vh;
}
.title{
    color:#fff;
    background-color: #06283D;
    font-weight: 800;
    text-decoration: underline white;
}
input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #0db8de;
    outline: 0;
}
#btn{
    background-color: black;
    color: #fff;
}
/* .signinBtn{ */
    /* background: linear-gradient(#FFE69A, #aefeff); */
    /* color: #fff;
    font-weight: 800; */
    

    /* background-color: #0A1931; */
/* } */